@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0;
  background-color: #bb010a;
}

header {
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
  padding:5px;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color:#b9b4b5;
  font-family: "Alike";
  font-size:40px;
}

header h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color:#b9b4b5;
  font-family:"Alike";
}

h3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#bb010a;
  font-family:"Alike";
  font-weight:bold;
  font-size:20px;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-family:"Lato";
}

nav {
  margin: 0 auto;
  width: 1000px;
  padding: 5px;
  text-align: center;
  border:1px solid;
  border-color:#2a3178;
  background-color:white;
  font-family:"Alike";
}

nav a {
  margin: 0 35px;
  color:#bb010a;
  background-color: white;
  font-family:"Alike";
  font-size:20px;
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px;
  background-color:#b9b4b5;
  border:1px solid;
  border-color:#2a3178;
  text-align:justify;
}

ul{
  list-style-image: url(../images/star.png);
  font-family:"Lato";
}
